#root {
  margin: 0 auto;
  padding: 2rem;
}

.toy-container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;

  .box {
    width: calc(50% - 50px);
    height: 300px;
    border: 2px solid #213547;
    border-radius: 20px;
    margin: 20px;
    
  }

}